footer
  .container
    h3 Feeling <span class="peek-a-boo"><span>friendly?</span><span> creepy? </span></span> Reach out!
    ul.social
      li.email
        a(href="mailto:andrew@2metr.es", 
          title="Just regular ol' email", 
          data-toggle="tooltip") e
      li.twitter
        a(href="http://twitter.com/2metres", 
          title="Follow me on Twitter", 
          data-toggle="tooltip") t
      li.dribbble
        a(href="http://dribbble.com/2metres", 
          title="Follow me on Dribbble", 
          data-toggle="tooltip") d
      li.instagram
        a(href="http://instagram.com/2metres", 
          title="Follow me on Instagram", 
          data-toggle="tooltip") i     
    ul.social   
      li.rdio
        a(href="http://rdio.com/people/andrw_carr/", 
          title="Follow me on Rdio", 
          data-toggle="tooltip") r
      li.github
        a(href="http://github.com/2metres", 
          title="Fork me on GitHub", 
          data-toggle="tooltip") &#xe806;  
      li.linkedin
        a(href="http://linkedin.com/pub/andrew-carr/20/a52/502/", 
          title="Stalk me on LinkedIn", 
          data-toggle="tooltip") l  
      li.pinterest
        a(href="http://pinterest.com/solutci", 
          title="Follow me on Pinterest", 
          data-toggle="tooltip") p  
